<div class="row full-width anchor">
	<div class="small-8 columns">
		<h1><%= @collection.title %></h1>
		<p><%= @collection.description %><br>
		<%= link_to "Edit collection details", edit_user_collection_path(@user, @collection), class: "regular-link" %></p>
	</div>
	<div class="small-3 columns add-button-column">
		<%= link_to "Add record", new_user_collection_term_record_path(@user, @collection), class: "button", id: "add-button" %>
	</div>
</div>

<table class="records-table">
	<thead>
		<tr>
			<% columns = lang_columns %>
			<% columns[:titles].each do |title| %>
				<th><%= title %></th>
			<% end %>
			<th>Source</th>
			<th>Domain</th>
			<th></th>
		</tr>
	</thead
	<tbody>
		<%= render @collection.term_records %>
	</tbody>
</table>