<div class="row full-width anchor">
	<div class="small-8 columns">
		<h1><%= @collection.title %></h1>
		<p><%= @collection.description %><br>
		<%= link_to "Edit collection details", edit_user_collection_path(current_user, @collection), class: "regular-link" %></p>
	</div>
	<div class="small-3 columns add-button-column">
		<%= link_to "Add record", new_user_collection_term_record_path(current_user, @collection), class: "button", id: "add-button" %>
	</div>
</div>

<table class="records-table">
	<thead>
		<tr>
			<% columns = @collection.active_languages %>
			<% columns.each do |lang| %>
				<th class="lang-column" width="<%= 60 / @collection.num_languages %>%"><%= lang.capitalize %></th>
			<% end %>
			<th class="source-column">Source</th>
			<th class="domain-column">Domain</th>
			<th class="expander-column"></th>
		</tr>
	</thead
	<tbody>
		<%= render @collection.term_records %>
	</tbody>
</table>