<tr class="term-record">
	<% lang_columns(term_record).each do |title| %>
		<td class="term"><%= render_markdown(term_record.send(title.downcase)) %></td>
	<% end %>
	<td class="mandatory-field"><%= render_markdown(term_record.source.name) %></td>
	<td class="mandatory-field"><%= render_markdown(term_record.domain.name) %></td>
	<td>
		<i class="fa fa-plus-square-o fa-lg record-expander hide-for-print"></i>
		<i class="fa fa-minus-square-o fa-lg record-minimizer hide hide-for-print"></i>
	</td>
</tr>

<tr class="record-expand hide">
	<td colspan="<%= lang_columns(term_record).length + 3 %>" class="expanded-cell">
		<% if term_record.context.present? %>
			<span class="optional-field"><strong>Context</strong>: <%= render_markdown(term_record.context) %></span><br>
		<% end %>

		<% if term_record.comment.present? %>
			<span class="optional-field"><strong>Comment</strong>: <%= render_markdown(term_record.comment) %></span><br>
		<% end %>
			<small class="left">Collection: <%= term_record.collection.title %>&nbsp | Record created: <%= term_record.created_at %>&nbsp |
			Record last updated: <%= term_record.updated_at %></small>
			<%= link_to "Edit record", edit_term_record_path(term_record.id), class: "button edit-button right tiny no-margin secondary hide-for-print" %>
	</td>
</tr>