<% content_for :sidebar_meat do %>
	<strong><%= link_to "&larr;  Back to search".html_safe, query_path, class: "button tiny c-secondary" %></strong>
	<%= render 'formatting_guide' %>
<% end %>

<h2>Edit term record</h2>

<%= render "form" %>

<div class="warning">
	<strong>WARNING:</strong> The link below will permanently delete your term record. This can't be undone!
	<%= form_tag(term_record_path(@term_record.id), method: :delete) do %>
	  <%= submit_tag "Delete record", class: "delete-link", id: "delete-link" %>
	<% end %>
</div>
