<h2>Choose a new password<br>
<small>Account: <%= @user.email %></small></h2>

<%= form_for @user, :url => password_reset_path(@user), :html => {:method => :put} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prevented your password from being changed:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br><br>

  <div class="row">
    <div class="small-2 columns">
      <%= f.label :password, class: "right inline" %><br />
    </div>
    <div class="small-10 columns">
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="row">
    <div class="small-2 columns">
      <%= f.label :password_confirmation, class: "right no-padding inline" %><br />
    </div>
    <div class="small-10 columns">
      <%= f.password_field :password_confirmation %>
      <%= hidden_field_tag :token, @token %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="small-11 actions">
    <%= f.submit "Update password", class: "button tiny right" %>
    </div>
  </div>
<% end %>