<h1>Import successful</h1>

<% if @saved_records.present? %>
	<h3>Saved the following <%= @saved_records.count %> record(s)</h3>

	<table class="records-table">
		<thead>
			<tr>
				<th class="lang-column" width="20%">English</th>
				<th class="lang-column" width="20%">French</th>
				<th class="lang-column" width="20%">Spanish</th>
				<th class="source-column">Source</th>
				<th class="domain-column">Domain</th>
				<th class="expander-column"></th>
			</tr>
		</thead>
		<tbody>
			<% @saved_records.each do |term_record| %>
				<tr class="term-record">
					<td class="term"><%= term_record.english %></td>
					<td class="term"><%= term_record.french %></td>
					<td class="term"><%= term_record.spanish %></td>
					<td class="mandatory-field"><%= term_record.source.name %></td>
					<td class="mandatory-field"><%= term_record.domain.name %></td>
					<td></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

<% if @failed_records.present? %>
	<h3>Could not save the following <%= @failed_records.count %> record(s)</h3>

	<table class="records-table">
		<thead>
			<tr>
				<th class="lang-column" width="20%">English</th>
				<th class="lang-column" width="20%">French</th>
				<th class="lang-column" width="20%">Spanish</th>
				<th class="source-column">Source</th>
				<th class="domain-column">Domain</th>
				<th class="expander-column"></th>
			</tr>
		</thead>
		<tbody>
			<% @failed_records.each do |term_record| %>
				<tr class="term-record">
					<td class="term"><%= term_record.english %></td>
					<td class="term"><%= term_record.french %></td>
					<td class="term"><%= term_record.spanish %></td>
					<td class="mandatory-field"><%= term_record.source.name %></td>
					<td class="mandatory-field"><%= term_record.domain.name %></td>
					<td></td>
				</tr>
				<% if term_record.errors.any? %>
					<tr class="record-expand">
						<td colspan="6" class="expanded-cell">
							<strong>Problems with this record:</strong>
							<ul>
				        <% term_record.errors.full_messages.each do |msg| %>
				          <li><%= msg %></li>
				        <% end %>
			        </ul>
						</td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
<% end %>