<h1>Download Transiterm</h1>
<p>The lastest version of Transiterm, V1.6.1, was released on August 28, 2012.<br>
If you love Transiterm, please consider supporting me. Any amount helps!</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input name="cmd" value="_s-xclick" type="hidden"><input name="hosted_button_id" value="SAZFRDEH8FKUY" type="hidden"><input src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!" border="0" type="image"><img alt="" src="https://www.paypal.com/en_US/i/scr/pixel.gif" border="0" height="1" width="1"></form>

<div id="versions">
  <h5>Transiterm + Access 2007 Runtime</h5>
  <div class="row">
    <div class="small-8 columns">
      <em>Choose this if you don't already have MS Access 2007 or 2007 Runtime</em>
      <p>The full package, with everything you need to use Transiterm on one computer. It's a large file because of Access. French/English refers to the language of the Access 2007 package included; Transiterm itself is bilingual.</p>
    </div>
    <div class="small-4 columns">
      <ul class="button-group left">
        <li><%= link_to "Download English", "https://dl.dropboxusercontent.com/u/34650386/Transiterm_Full_EN.zip", class: "button tiny secondary" %></li>
        <li><%= link_to "Download French", "https://dl.dropboxusercontent.com/u/34650386/Transiterm_Full_FR.zip", class: "button tiny secondary" %></li>
        </ul>
    </div>
  </div>

  <h5 class='ppt'>Transiterm only, USB edition</h5>
  <div class="row">
    <div class="small-8 columns">
      <p>Ideal for using Transiterm on multiple computers. Please read the
      <a href="#" class="normal-link" data-reveal-id="instructions" data-reveal>installation instructions</a>
      first!</p>
    </div>
    <div class="small-4 columns">
      <%= link_to "Download now", "https://dl.dropboxusercontent.com/u/34650386/TransitermUSB.exe", class: "button tiny secondary left" %>
    </div>
  </div>

  <h5 class='ppt'>Transiterm only, single computer</h5>
  <div class="row">
    <div class="small-8 columns">
      <p>Choose this option only if you're sure you have Access 2007 or Access 2007 Runtime installed!</p>
    </div>
    <div class="small-4 columns">
      <%= link_to "Download now", "https://dl.dropboxusercontent.com/u/34650386/Transiterm.zip", class: "button tiny secondary left" %>
    </div>
  </div>
</div>


<div id="instructions" class="reveal-modal medium" data-reveal>
  <h3>Installing Transiterm USB</h3>

  <p>If you install Transiterm on a USB drive, you can access your terminology on any computer with Access 2007 or Access 2007 Runtime installed.</p>

  <ol>
    <li>Install <%= link_to "Access 2007 Runtime", "http://www.microsoft.com/en-ca/download/details.aspx?id=4438", target: "blank", class: "regular-link" %> on any of your computers that do not already have Access. You can get the installation files from Microsoft in English or in French (they're free!).</li>

    <li>Download and run the "Transiterm only, USB edition" exe file</li>

    <li>Under "Destination Folder," click "Browse..." and navigate to the location on your USB drive where you would like to install the files. Note that Transiterm will make its own folder automatically. Click "OK" to select the location.</li>

    <li>Click "Install."</li>

    <li>Optional: For convenient access, you can copy the Transiterm link (located right under the TransitermUSB folder) to an easy-to-access location, such as the root of your USB drive or the desktop of each computer. If the link doesn't work, reset its target to the accdr file under \TransitermUSB\Files. If you accidentally delete the shortcut, you can create a new one from the accdr file; note that the Transiterm icon is also included under Files.</li>
  </ol>
</div>

  <div class="row panel ppt ssb">
    <div class="small-2 columns">
      <img src="http://nebula.wsimg.com/b4e2ae566749b2fc545aee6e06ee2c18?AccessKeyId=1BDBD91EEE51A17928E4&disposition=0&alloworigin=1" alt="Creative Commons Licence"\>
    </div>
    <div class="small-10 columns">
      Transiterm is released under the
      <%= link_to "Creative Commons Attribution-NonCommercial-NoDerivs 2.5 Canada licence", "http://creativecommons.org/licenses/by-nc-nd/2.5/ca/" %>
    </div>
  </div>

