<div class="row full-width no-margin">
  <h5>List collections with:</h5>

  <!-- Show links as initials if screen is small or medium -->
  <div class="small-4 columns no-padding hide-for-large">
    <%= link_to "EN", "#{lang_toggle_path}?lang_toggle=english", class: "language selector #{ lang_active_class("english") }" %>
  </div>

  <div class="small-4 columns no-padding hide-for-large">
    <%= link_to "FR", "#{lang_toggle_path}?lang_toggle=french", class: "language selector #{ lang_active_class("french") }" %>
  </div>

  <div class="small-4 columns no-padding hide-for-large">
    <%= link_to "SP", "#{lang_toggle_path}?lang_toggle=spanish", class: "language selector #{ lang_active_class("spanish") }" %>
  </div>

  <!-- Show links as full words if screen is large or larger -->
  <div class="small-4 columns no-padding show-for-large-up">
    <%= link_to "English", "#{lang_toggle_path}?lang_toggle=english", class: "language selector #{ lang_active_class("english") }" %>
  </div>

  <div class="small-4 columns no-padding show-for-large-up">
    <%= link_to "French", "#{lang_toggle_path}?lang_toggle=french", class: "language selector #{ lang_active_class("french") }" %>
  </div>

  <div class="small-4 columns no-padding show-for-large-up">
    <%= link_to "Spanish", "#{lang_toggle_path}?lang_toggle=spanish", class: "language selector #{ lang_active_class("spanish") }" %>
  </div>
</div>

<div class="row full-width collections-container">
  <div class="small-12 small-centered columns full-width no-margin no-padding">

  <h5>Select collections</h5>
    <% if @sidebar_collections.present? %>
      <%= link_to "#{collection_toggle_path}?collection_id=all" do %>
        <div class="collection selector <%= all_active_class %>" id="select-all">
          All <%= format_active_langs %>
        </div>
      <% end %>
    <% elsif no_languages_active? %>
      <div class="message">&uarr; <br>Please activate at least one language above</div>
    <% else %>
      <div class="message">No collections for <%= pluralized_this_language %> yet. Use the button below to add one.<br>&darr; </div>
    <% end %>

    <% @sidebar_collections.each do |c| %>
      <div class="row collection selector clearfix <%= collection_active_class(c) %>">
        <%= link_to "#{collection_toggle_path}?collection_id=#{c.id}" do %>
          <div class="small-11 columns no-padding">
            <%= c.title %>
          </div>
        <% end %>
        <div class="small-1 columns no-padding">
          <%= link_to edit_collection_path(c) do %>
            <span data-tooltip class="tip-right" title="<%= '<h5 class="tooltip-color">' + c.description + '</h5>' if c.description.present? %><span class='tooltip-smallish'>Click the <i class='fa fa-info-circle fa-lg'></i> to edit or delete this collection.</span>"><i class="fa fa-info-circle fa-lg"></i></span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>