<div class="row full-width no-margin">
  <h5>List collections with:</h5>

  <!-- Show links as initials if screen is small or medium -->
  <div class="small-4 columns no-padding hide-for-large">
    <%= link_to "EN", "#{lang_toggle_path}?lang_toggle=english", class: "language selector #{ lang_active_class("english") }" %>
  </div>

  <div class="small-4 columns no-padding hide-for-large">
    <%= link_to "FR", "#{lang_toggle_path}?lang_toggle=french", class: "language selector #{ lang_active_class("french") }" %>
  </div>

  <div class="small-4 columns no-padding hide-for-large">
    <%= link_to "SP", "#{lang_toggle_path}?lang_toggle=spanish", class: "language selector #{ lang_active_class("spanish") }" %>
  </div>

  <!-- Show links as full words if screen is large or larger -->
  <div class="small-4 columns no-padding show-for-large-up">
    <%= link_to "English", "#{lang_toggle_path}?lang_toggle=english", class: "language selector #{ lang_active_class("english") }" %>
  </div>

  <div class="small-4 columns no-padding show-for-large-up">
    <%= link_to "French", "#{lang_toggle_path}?lang_toggle=french", class: "language selector #{ lang_active_class("french") }" %>
  </div>

  <div class="small-4 columns no-padding show-for-large-up">
    <%= link_to "Spanish", "#{lang_toggle_path}?lang_toggle=spanish", class: "language selector #{ lang_active_class("spanish") }" %>
  </div>
</div>

<div class="row full-width collections-container">
  <div class="small-12 small-centered columns full-width no-margin no-padding">

  <h5>Select collections</h5>
    <% if @sidebar_collections.present? %>
      <%= link_to "#{collection_toggle_path}?collection_id=all" do %>
        <div class="collection selector <%= all_active_class %>" id="select-all">
          All <%= format_active_langs %>
        </div>
      <% end %>
    <% elsif no_languages_active? %>
      <div class="message">&uarr; <br>Please activate at least one language above</div>
    <% else %>
      <div class="message">No collections for <%= pluralized_this_language %> yet. Use the button below to add one.<br>&darr; </div>
    <% end %>

    <% @sidebar_collections.each do |c| %>
      <div class="row collection <%= collection_active_class(c) %> selector">
        <div class="small-1 columns no-padding">
          <%= link_to edit_collection_path(c) do %>
            <span data-tooltip class="tip-top hide-for-touch" title="<%= '<p>' + c.description + '</p>' if c.description.present? %><p>Click the <i class='fa fa-info-circle fa-lg'></i> to edit or delete this collection.</p>"><i class="fa fa-info-circle fa-lg"></i></span>
            <i class="fa fa-info-circle fa-lg show-for-touch"></i>
          <% end %>
        </div>

        <%= link_to "#{collection_toggle_path}?collection_id=#{c.id}&disable_others=true" do %>
          <div class="small-9 columns no-padding">
            <span data-tooltip class="hide-for-touch" title="<p>Click to activate this collection only</p>"><%= c.title %></span>
            <span class="show-for-touch"><%= c.title %></span>
          </div>
        <% end %>

        <div class="small-2 columns no-padding">
          <%= link_to "#{collection_toggle_path}?collection_id=#{c.id}&disable_others=false" do %>
            <span data-tooltip class="tip-right hide-for-touch" title="<p>Click to add/remove from selection</p>"><i class="fa fa-lg <%= checkbox_class(c) %>"></i></span>
            <i class="fa fa-lg <%= checkbox_class(c) %> show-for-touch"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>