<div class="row full-width no-margin">
  <h5>List collections with:</h5>

  <div class="small-4 columns no-padding hide-for-large">
    <%= link_to "EN", "#{lang_toggle_path}?lang_toggle=english", class: "language selector #{ 'active' if current_user.english_active == true }" %>
  </div>

  <div class="small-4 columns no-padding hide-for-large">
    <%= link_to "FR", "#{lang_toggle_path}?lang_toggle=french", class: "language selector #{ 'active' if current_user.french_active == true }" %>
  </div>

  <div class="small-4 columns no-padding hide-for-large">
    <%= link_to "SP", "#{lang_toggle_path}?lang_toggle=spanish", class: "language selector #{ 'active' if current_user.spanish_active == true }" %>
  </div>

  <div class="small-4 columns no-padding show-for-large-up">
    <%= link_to "English", "#{lang_toggle_path}?lang_toggle=english", class: "language selector #{ 'active' if current_user.english_active == true }" %>
  </div>

  <div class="small-4 columns no-padding show-for-large-up">
    <%= link_to "French", "#{lang_toggle_path}?lang_toggle=french", class: "language selector #{ 'active' if current_user.french_active == true }" %>
  </div>

  <div class="small-4 columns no-padding show-for-large-up">
    <%= link_to "Spanish", "#{lang_toggle_path}?lang_toggle=spanish", class: "language selector #{ 'active' if current_user.spanish_active == true }" %>
  </div>
</div>

<div class="row full-width collections-container">
  <div class="small-12 small-centered columns full-width no-margin no-padding">

  <h5>Select collections</h5>
    <a href='<%= "#{collection_toggle_path}?collection_id=all" %>'>
      <div class="collection selector <%= all_active? %>" id="select-all">
        All <%= format_active_langs %>
      </div>
    </a>

    <% @sidebar_collections.each do |c| %>
      <a href='<%= "#{collection_toggle_path}?collection_id=#{c.id}" %>'>
        <div class="collection selector <%= collection_active?(c) %>">
          <%= c.title %>
        </div>
      </a>
    <% end %>
  </div>
</div>