<% content_for :sidebar_meat do %>
	<%= render 'query_sidebar' %>
<% end %>

<% content_for :add_button_area do %>
	<% if current_user.active_languages.present? %>
		<div class="<%= collection_button_size %> columns no-padding">
		  <%= link_to new_collection_path, class: "button tiny", id: "new-collection" do %>
		  	New Collection
		  <% end %>
		</div>
	<% end %>
	<% if any_collections_active? %>
		<div class="small-7 columns no-padding">
		  <%= link_to new_term_record_path, class: "button tiny", id: "new-term" do %>
		  	New Term Record
		  <% end %>
		</div>
	<% end %>
<% end %>

<div class="row full-width">
	<div class="small-12 columns">
		<h3 class="subheader hide-for-print">
			<% if @selected_collections.empty? %>
				&larr; Use the sidebar to activate languages and choose collections to search
			<% else %>
				Searching <%= collection_result_count %>&nbsp;&nbsp;
				<span data-tooltip title="<p>Click to print these results</p>"><i class="fa fa-print" id="print"></i></span>
				<br>
			<% end %>
		</h3>
		<%= image_tag("transiterm-150px.png", width: "150px", class: "print-only") %>
		<div class="print-only"><%= title_for_print %></div>
	</div>
</div>

<div class="row search-bar hide-for-print">
  <div class="small-11 columns">
  	<%= form_tag(query_path, method: :get, id: "search") do %>
	    <div class="row collapse">
		      <div class="small-6 large-8 columns">
		      	<%= text_field_tag "search", nil, placeholder: "Search terms", autofocus: true %>

		      </div>
		      <div class="small-1 columns">
		      	<%= submit_tag "Go", class: "button postfix radius" %>
		      </div>
		      <div class="small-4 large-2 columns right">
		      	<%= select_tag "field", options_for_select(set_fields, params[:field] || "All") %>
		      </div>
	    </div>
    <% end %>
  </div>
</div>

<% if @term_records.present? %>
	<table class="records-table">
		<thead>
			<tr>
				<% set_columns.each do |lang| %>
					<th class="lang-column" width="<%= 60 / set_columns.length %>%"><%= lang.capitalize %></th>
				<% end %>
				<th class="source-column">Source</th>
				<th class="domain-column">Domain</th>
				<th class="expander-column"></th>
			</tr>
		</thead>
		<tbody id="term-records">
			<%= render @term_records %>
		</tbody>
	</table>
<% elsif @selected_collections.present? %>
	<h5 class="subheader">No results, sorry</h5>
<% end %>

<span class="hide-for-print"><%= paginate @term_records %></span>