<!DOCTYPE html>
<html class="no-js full-height" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Transiterm" %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="row no-margin">
      <div class="small-4 medium-3 columns no-padding sidebar" id="sidebar">

        <!-- Icon row -->
        <div class="row">
          <div class="small-11 small-offset-1 small-centered columns">
            <%= link_to image_tag("T.png", class: "logo logo-large", alt:"Transiterm logo"), user_collections_path(current_user) %>
          </div>
        </div>

        <!-- Login/settings row -->
        <div class="row cling-bottom settings full-width">
          <div class="small-6 columns">
            <%= link_to "My Transiterm", edit_user_path(current_user) %>
          </div>
          <div class="small-6 columns">
            <%= link_to "Log out", logout_path, method: :post %>
          </div>
        </div>
      </div>

      <main class="small-8 medium-9 columns full-height">

        <!-- Alerts section -->
        <div class="row">
          <div class="small-12 small-centered columns">
            <% if flash[:notice] %>
              <div data-alert class="alert-box info">
                <%= flash[:notice] %>
                <a href="#" class="close">&times;</a>
              </div>
            <% elsif flash[:alert] %>
              <div data-alert class="alert-box alert">
                <%= flash[:alert] %>
                <a href="#" class="close">&times;</a>
              </div>
            <% elsif flash[:success] %>
              <div data-alert class="alert-box success">
                <%= flash[:success] %>
                <a href="#" class="close">&times;</a>
              </div>
            <% end %>
          </div>
        </div>

        <%= yield %>
      </main>

    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
