<!DOCTYPE html>
<html class="no-js full-height" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Transiterm" %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="row no-margin">

      <!-- SIDEBAR -->
      <div class="small-4 medium-3 large-2 columns no-padding sidebar" id="sidebar">

        <!-- Icon row -->
        <div class="row">
          <div class="small-11 small-offset-1 small-centered columns">
            <%= link_to image_tag("T.png", class: "logo", alt:"Transiterm logo"), user_collections_path(current_user) %>
          </div>
        </div>

        <!-- Collections list row -->
        <% if @collections %>
          <div class="row full-width no-margin">
            <h5>List collections with:</h5>

            <div class="small-4 columns no-padding hide-for-large">
              <%= link_to "EN", "#{lang_toggle_path}?lang_toggle=english", class: "language selector #{ 'active' if current_user.english_active == true }" %>
            </div>

            <div class="small-4 columns no-padding hide-for-large">
              <%= link_to "FR", "#{lang_toggle_path}?lang_toggle=french", class: "language selector #{ 'active' if current_user.french_active == true }" %>
            </div>

            <div class="small-4 columns no-padding hide-for-large">
              <%= link_to "SP", "#{lang_toggle_path}?lang_toggle=spanish", class: "language selector #{ 'active' if current_user.spanish_active == true }" %>
            </div>

            <div class="small-4 columns no-padding show-for-large">
              <%= link_to "English", "#{lang_toggle_path}?lang_toggle=english", class: "language selector #{ 'active' if current_user.english_active == true }" %>
            </div>

            <div class="small-4 columns no-padding show-for-large">
              <%= link_to "French", "#{lang_toggle_path}?lang_toggle=french", class: "language selector #{ 'active' if current_user.french_active == true }" %>
            </div>

            <div class="small-4 columns no-padding show-for-large">
              <%= link_to "Spanish", "#{lang_toggle_path}?lang_toggle=spanish", class: "language selector #{ 'active' if current_user.spanish_active == true }" %>
            </div>
          </div>

          <div class="row full-width collections-container">
            <div class="small-12 small-centered columns full-width no-margin no-padding">

            <h5>Select collections</h5>
              <a href="<%= user_collections_path %>"><div class="collection selector active" id="select-all">All listed below</div></a>
              <% @collections.each do |c| %>
                <a href="<%= user_collection_path(current_user, c) %>"><div class="collection selector"><%= c.title %></div></a>
              <% end %>
            </div>
          </div>
        <% else %>
          <strong><%= link_to "â†  Back to collections", user_collections_path(current_user), class: "button tiny c-secondary" %></strong>
        <% end %>
      </div>

      <main class="small-8 medium-8 medium-offset-1 large-9 columns full-height">

        <!-- Alerts section -->
        <div class="row">
          <div class="small-12 small-centered columns">
            <% if flash[:notice] %>
              <div data-alert class="alert-box info">
                <%= flash[:notice] %>
                <a href="#" class="close">&times;</a>
              </div>
            <% elsif flash[:alert] %>
              <div data-alert class="alert-box alert">
                <%= flash[:alert] %>
                <a href="#" class="close">&times;</a>
              </div>
            <% elsif flash[:success] %>
              <div data-alert class="alert-box success">
                <%= flash[:success] %>
                <a href="#" class="close">&times;</a>
              </div>
            <% end %>
          </div>
        </div>

        <%= yield %>
      </main>
    </div>

    <!-- Add button and Login/settings row -->
    <div class="row cling-bottom">
      <div class="small-4 medium-3 large-2 color-hook">

        <div class="row no-margin">
          <div class="small-12 columns add-button-row">
            <% if @collections %>
              <%= link_to "Add collection", new_user_collection_path(current_user), class: "button tiny c-secondary" %>
            <% end %>
          </div>
        </div>

        <div class="row settings full-width no-margin">
          <div class="small-12 columns">
            <div class="row">
              <div class="small-6 columns">
                <%= link_to "My Transiterm", edit_user_path(current_user) %>
              </div>
              <div class="small-6 columns">
                <%= form_tag(logout_path) do %>
                  <%= submit_tag "Log out", id: "logout-link" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
