<!DOCTYPE html>
<html>
<head>
  <title>Transiterm</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="nav">
    <%= image_tag("T.png", class: "logo",alt:"Transiterm logo") %>
    <% if current_user %>
      <%= link_to "Account / Settings", edit_user_path(current_user.id) %>
      <%= link_to "Logout", :logout, method: :post %>
    <% else %>
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Login", :login %>
    <% end %>
  </div>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
    <p id="success"><%= flash[:success] %></p>
  </div>

<%= yield %>

</body>
</html>
