<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Transiterm" %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="row no-margin off-canvas-wrap">
      <div class="inner-wrap">

        <!-- SMALL-ONLY NAV AND SIDEBAR -->
        <nav class="tab-bar show-for-small-only c-primary">
          <section class="left-small">
            <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
          </section>
          <section class="tab-bar-section right">
            <%= link_to image_tag("transiterm-100px-white.png", width: "150px", class: "logo right", alt:"Transiterm logo"), query_path %>
          </section>
        </nav>

        <aside class="show-for-small-only left-off-canvas-menu sidebar" id="sidebar">
          <%= yield :sidebar_meat %>
        </aside>

        <!-- MED+ SIDEBAR -->
        <div class="show-for-medium-up medium-3 large-2 columns no-padding sidebar hide-for-print" id="sidebar">

          <!-- Icon row -->
          <div class="row no-margin">
            <div class="small-12 small-centered columns">
              <%= link_to image_tag("transiterm-150px.png", width: "150px", class: "logo", alt:"Transiterm logo"), query_path %>
            </div>
          </div>

          <!-- Collections list or back button row -->
          <%= yield :sidebar_meat %>
        </div>

        <main class="main-section small-12 medium-8 medium-offset-1 large-9 columns full-height right">

          <!-- Alerts section -->
           <% if flash[:notice] %>
              <div data-alert class="alert-box info" id="notice">
                <%= flash[:notice] %>
                <a href="#" class="close">&times;</a>
              </div>
            <% elsif flash[:alert] %>
              <div data-alert class="alert-box alert" id="alert">
                <%= flash[:alert] %>
                <a href="#" class="close">&times;</a>
              </div>
            <% elsif flash[:success] %>
              <div data-alert class="alert-box success" id="success">
                <%= flash[:success] %>
                <a href="#" class="close">&times;</a>
              </div>
            <% end %>
          <%= yield %>
        </main>
        <a class="exit-off-canvas"></a>
      </div>
    </div>

    <!-- Add button and Login/settings row -->
    <div class="row cling-bottom hide-for-print">
      <div class="small-12 medium-3 large-2 columns color-hook">

        <div class="row no-margin add-button-row">
            <%= yield :add_button_area %>
        </div>

        <div class="row settings full-width no-margin">
          <div class="small-12 columns">
            <div class="row">
              <div class="small-6 columns">
                <%= link_to edit_user_path(current_user) do %>
                  <i class="fa fa-cog"></i>
                  My Account
                <% end %>
              </div>
              <div class="small-6 columns">
                <%= form_tag(logout_path) do %>
                  <%= button_tag(type: "submit", id: "logout-link") do %>
                    <i class="fa fa-sign-out"></i>Sign out
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
