<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Transiterm" %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'touch-icon-iphone.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag 'touch-icon-ipad.png', sizes: '76x76', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag 'touch-icon-iphone-retina.png', sizes: '120x120', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag 'touch-icon-ipad-retina.png', sizes: '152x152', rel: 'apple-touch-icon', type: 'image/png' %>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="left"><%= link_to (image_tag("transiterm-100px-white.png", class: "logo", alt:"Transiterm logo")), home_path, class: "logo-link" %></li>
        <li class="name"><h1><a href="<%= home_path %>"></a></h1></li>

        <li class="toggle-topbar menu-icon">
          <a href="#">
            <span>Menu</span>
          </a>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li class="active"><%= link_to "Home", home_path %></li>
          <li><%= link_to "Register", new_user_path %></li>
          <li><%= link_to "Log in", :login %></li>
        </ul>
      </section>
    </nav>


    <div>
      <% if flash[:notice] %>
        <div data-alert class="alert-box info">
          <%= flash[:notice] %>
          <a href="#" class="close">&times;</a>
        </div>
      <% elsif flash[:alert] %>
        <div data-alert class="alert-box alert">
          <%= flash[:alert] %>
          <a href="#" class="close">&times;</a>
        </div>
      <% elsif flash[:success] %>
        <div data-alert class="alert-box success">
          <%= flash[:success] %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>
    </div>

    <main class="row">
      <div class="medium-8 medium-offset-2 columns">
        <%= yield %>
      </div>
    </main>
    <%= javascript_include_tag "application" %>
  </body>
</html>
